<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-default mx-auto">
        <div class="navbar-brand ">Smart Greenhouse System</div>
    </nav>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Sensor Status</th>
                </tr>
            </thead>
            <tr>
                <td>Humidity(%)</td>
                <td id="field1">-</td>
                <td>Temperature(C)</td>
                <td id="field2">-</td>
            </tr>
            <tr>
                <td>Soil Moisture(%)</td>
                <td id="field3">-</td>
                <td>Light(%)</td>
                <td id="field4">-</td>
            </tr>

            <thead>
                <tr>
                    <th>Actuators Command</th>
                </tr>
            </thead>
            <tr>
                <td>Auto Mode</td>
                <td><label class="switch">
                    <input type="checkbox" id="auto">
                    <span class="slider round"></span>
                  </label></td>
            </tr>
            <tr>
                <td>Auto Mode Status Return</td>
                <td id="field8">-</td>
            </tr>

            <tr>
                <td>
                    <button id="lightOn">Light On</button>
                </td>
                <td>
                    <button id="lightOff">Light Off</button>
                </td>
            </tr>
            <tr>
                <td>Light Status Return</td>
                <td id="field5">-</td>
            </tr>
            <tr>
                <td>
                    <button id="pumpOn">Pump On</button>
                </td>
                <td>
                    <button id="pumpOff">Pump Off</button>
                </td>
            </tr>
            <tr>
                <td>Pump Status Return</td>
                <td id="field7">-</td>
            </tr>
            <tr>
                <td><button id="fanOn"> Fan On</button>
                </td>
                <td>
                    <button id="fanOff">Fan Off</button>
                </td>
            </tr>
            <tr>
                <td>Fan Status Return</td>
                <td id="field6">-</td>
            </tr>
            </tr>
            <th>Messages and Alarms</th>
            <tr id="msg ">-</tr>
            <tr id="msg1 ">-</tr>
        </table>
    </div>
    <script>
        var light
        var pump
        var fan
        var auto

        document.getElementById("lightOn").addEventListener("click", lightOn);
        document.getElementById("lightOff").addEventListener("click", lightOff);
        document.getElementById("pumpOn").addEventListener("click", pumpOn);
        document.getElementById("pumpOff").addEventListener("click", pumpOff);
        document.getElementById("fanOn").addEventListener("click", fanOn);
        document.getElementById("fanOff").addEventListener("click", fanOff);
        document.getElementById("auto").addEventListener("click", checkBox);

        document.getElementById("lightOn").addEventListener("click", clock);
        document.getElementById("lightOff").addEventListener("click", clock);
        document.getElementById("pumpOn").addEventListener("click", clock);
        document.getElementById("pumpOff").addEventListener("click", clock);
        document.getElementById("fanOn").addEventListener("click", clock);
        document.getElementById("fanOff").addEventListener("click", clock);
        document.getElementById("auto").addEventListener("click", clock);





        var i = 16; //  set your counter to 1

        function clock() { //  create a loop function
            setTimeout(function() { //  call a 3s setTimeout when the loop is called
                document.getElementById("msg1 ").innerHTML = "Wait for " + i + " seconnds before sending another command"; //  your code here
                i = i - 1; //  increment the counter
                if (i > 0) { //  if the counter < 10, call the loop function
                    clock(); //  ..  again which will trigger another 
                } //  ..  setTimeout()
                else {
                    document.getElementById("msg ").innerHTML = "-";
                    document.getElementById("msg1 ").innerHTML = "-";
                    i = 16
                }
            }, 1000);


        }



        function lightOn() {
            light = 1
            let file = "https://api.thingspeak.com/update?api_key=2HSQ54WZHU56NFKK&field5=" + light + "&field6=" + fan + "&field7=" + pump + "&field8=" + auto
            fetch(file)
                .then(x => x.text())
                .then((y) => {
                    if (y == 0) {
                        document.getElementById("msg ").innerHTML = "error sending command, wait for few seconds and try again ";
                    } else {
                        document.getElementById("msg ").innerHTML = "command sent succefully ";
                    }

                })
        }

        function lightOff() {
            light = 0
            let file = "https://api.thingspeak.com/update?api_key=2HSQ54WZHU56NFKK&field5=" + light + "&field6=" + fan + "&field7=" + pump + "&field8=" + auto
            fetch(file)
                .then(x => x.text())
                .then((y) => {
                    if (y == 0) {
                        document.getElementById("msg ").innerHTML = "error sending command, wait for few seconds and try again ";
                    } else {
                        document.getElementById("msg ").innerHTML = "command sent succefully ";
                    }

                })
        }

        function pumpOn() {
            pump = 1
            let file = "https://api.thingspeak.com/update?api_key=2HSQ54WZHU56NFKK&field5=" + light + "&field6=" + fan + "&field7=" + pump + "&field8=" + auto
            fetch(file)
                .then(x => x.text())
                .then((y) => {
                    if (y == 0) {
                        document.getElementById("msg ").innerHTML = "error sending command, wait for few seconds and try again ";
                    } else {
                        document.getElementById("msg ").innerHTML = "command sent succefully ";
                    }

                })
        }

        function pumpOff() {
            pump = 0
            let file = "https://api.thingspeak.com/update?api_key=2HSQ54WZHU56NFKK&field5=" + light + "&field6=" + fan + "&field7=" + pump + "&field8=" + auto
            fetch(file)
                .then(x => x.text())
                .then((y) => {
                    if (y == 0) {
                        document.getElementById("msg ").innerHTML = "error sending command, wait for few seconds and try again ";
                    } else {
                        document.getElementById("msg ").innerHTML = "command sent succefully ";
                    }

                })
        }

        function fanOn() {
            fan = 1
            let file = "https://api.thingspeak.com/update?api_key=2HSQ54WZHU56NFKK&field5=" + light + "&field6=" + fan + "&field7=" + pump + "&field8=" + auto
            fetch(file)
                .then(x => x.text())
                .then((y) => {
                    if (y == 0) {
                        document.getElementById("msg ").innerHTML = "error sending command, wait for few seconds and try again ";
                    } else {
                        document.getElementById("msg ").innerHTML = "command sent succefully ";
                    }

                })
        }

        function fanOff() {
            fan = 0
            let file = "https://api.thingspeak.com/update?api_key=2HSQ54WZHU56NFKK&field5=" + light + "&field6=" + fan + "&field7=" + pump + "&field8=" + auto
            fetch(file)
                .then(x => x.text())
                .then((y) => {
                    if (y == 0) {
                        document.getElementById("msg ").innerHTML = "error sending command, wait for a few seconds and try again ";
                    } else {
                        document.getElementById("msg ").innerHTML = "command sent succefully ";
                    }

                })
        }


        function checkBox() {
            var checkBox = document.getElementById("auto");
            if (checkBox.checked == true) {
                auto = 1
                let file = "https://api.thingspeak.com/update?api_key=2HSQ54WZHU56NFKK&field5=" + light + "&field6=" + fan + "&field7=" + pump + "&field8=" + auto
                fetch(file)
                    .then(x => x.text())
                    .then((y) => {
                        if (y == 0) {
                            document.getElementById("msg ").innerHTML = "error sending command, wait for few seconds and try again ";
                        } else {
                            document.getElementById("msg ").innerHTML = "command sent succefully ";
                        }

                    })
            } else {
                auto = 0
                let file = "https://api.thingspeak.com/update?api_key=2HSQ54WZHU56NFKK&field5=" + light + "&field6=" + fan + "&field7=" + pump + "&field8=" + auto
                fetch(file)
                    .then(x => x.text())
                    .then((y) => {
                        if (y == 0) {
                            document.getElementById("msg ").innerHTML = "error sending command, wait for few seconds and try again ";
                        } else {
                            document.getElementById("msg ").innerHTML = "command sent succefully ";
                        }

                    })
            }
        }


        var myVar = setInterval(apiValues, 1500);

        function apiValues() {
            let file = " https://api.thingspeak.com/channels/1371932/feeds.json?api_key=ZN4YY5IP4D20TX9D&results=2"
            fetch(file)
                .then(x => x.text())
                .then((y) => {
                    var arr = y;
                    var myJSON = JSON.parse(arr);
                    document.getElementById("field1").innerHTML = myJSON.feeds[1].field1;
                    document.getElementById("field2").innerHTML = myJSON.feeds[1].field2;
                    document.getElementById("field3").innerHTML = myJSON.feeds[1].field3;
                    document.getElementById("field4").innerHTML = myJSON.feeds[1].field4;


                    if (myJSON.feeds[1].field5 == 1) {
                        document.getElementById("field5").innerHTML = "ON";
                    } else {
                        document.getElementById("field5").innerHTML = "OFF";
                    }
                    if (myJSON.feeds[1].field6 == 1) {
                        document.getElementById("field6").innerHTML = "ON";
                    } else {
                        document.getElementById("field6").innerHTML = "OFF";
                    }
                    if (myJSON.feeds[1].field7 == 1) {
                        document.getElementById("field7").innerHTML = "ON";
                    } else {
                        document.getElementById("field7").innerHTML = "OFF";
                    }
                    if (myJSON.feeds[1].field8 == 1) {
                        document.getElementById("auto").checked = true;
                    } else {
                        document.getElementById("auto").checked = false;
                    }
                    if (myJSON.feeds[1].field8 == 1) {
                        document.getElementById("field8").innerHTML = "ON";
                    } else {
                        document.getElementById("field8").innerHTML = "OFF";
                    }
                })
        }
    </script>
</body>

</html>